transformers == 4.38.2
accelerate
tokenizers == 0.15.2
datasets == 2.18.0
sentencepiece == 0.1.99
protobuf
sacrebleu == 2.4.0
py7zr
numpy == 1.26.4
torch == 2.3.0
unbabel-comet == 2.2.1
pandas
matplotlib
xgboost == 2.0.3
lightgbm == 4.3.0
scikit-learn == 1.4.1
scikit-optimize == 0.9.0
scipy == 1.12.0
plotly
spacy == 3.7.4
sentence-transformers == 2.5.1